@import '../../colors.css';

.container_films{
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 20px 100px;
  background-color: var(--light);
}

.films-list{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.films-list-item:hover .film-info{
  opacity: 1;
  visibility: visible;
}

.film-info > h3{
  color: var(--red);
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

.films-list-item{
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  width: 24%;
}

.films-list-item > figure{
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.films-list-item > figure >img{
  width: 100%;
}

.film-resume{
  width: 100%;
}

.poster-filme{
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.poster-filme > img{
  width: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.poster-filme > img{
  width: 100%;
  height: auto;
}

.film-info{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 80px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
.genero{
  margin: 10px 0;
  display: flex;
}

.genero-item{
  text-decoration: none;
  font-size: 1.2em;
  color: var(--red);
}

.film_link{
  color: var(--red);
  width:50 ;
  height: 57;
  font-size: 1.2em;
  transition: all 0.2s;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}


.title-film{
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  text-decoration: uppercase;
}

.films-resume{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 80px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.resume{
  padding: 10px;
  width: 100%;
}

.resume > h3{
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

figure{
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.filme-nota{
  margin: 0;
  align-items: center;
  display: flex;
  font-size: bold;
  justify-content: space-between;
}
.filme-nota > i{
  cursor: pointer;
  color: var(--dark-gray);
}